<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cart.css">
    <title>Demo</title>
</head>

<body>

    <div class="container-all">

        <h1>Your cart</h1>

        <div class="containerTop">

            <div class="left">
                <h2>Not ready to checkout? Continue Shopping</h2>


                <div class="containerPorduct">
                    <div class="product">
                        <img src="../images/placeholder.jpg" alt="">
                        <div class="textProduct">
                            <div class="txt">
                                <h3>Product 1</h3>
                                <div>
                                    <p class="subInfo">Size : L</p>
                                    <p class="subInfo">Quantity : 1</p>
                                </div>
                                <h1>99.9$</h1>
                            </div>
                            <p class="txtRemove">remove</p>
                        </div>
                    </div>
                </div>

                <div class="lightLine"></div>

                <div class="containerPorduct">
                    <div class="product">
                        <img src="../images/placeholder.jpg" alt="">
                        <div class="textProduct">
                            <div class="txt">
                                <h3>Product 1</h3>
                                <div>
                                    <p class="subInfo">Size : L</p>
                                    <p class="subInfo">Quantity : 1</p>
                                </div>
                                <h1>99.9$</h1>
                            </div>
                            <p class="txtRemove">remove</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <h1>Order summary</h1>
                <input type="text" placeholder="Enter coupon code here">
                <p>Subtotal: $200</p>
                <p>Shipping: Calculated at the next step</p>
                <div class="boldLine"></div>
                <p>Total: $200</p>
                <button>Continue to checkout</button>
            </div>
        </div>
    </div>

    <div class="containerOrderInfo">
        <div class="contentOrder">
            <h1>Other information</h1>
            <div class="boldLine"></div>
        </div>

        <div class="order-info">
            <p class="order-title">Return Policy</p>
            <p class="order-txt"></p>
        </div>
    </div>


    <script src="public/javaScript/cart.js"></script>
</body>

</html>