<nav>
    <div class="leftNavContainer">
        <p>Ecommerce</p>
        <p>Shop</p>
        <p>Story</p>
        <p>About</p>
        <div>
            <input placeholder="Search" type="text" name="searchShop" id="searchShop" />
            <label for="searchShop">
                <i class="fa-solid fa-magnifying-glass"></i>
            </label>
        </div>
    </div>
    <div class="rightNavContainer">
        <div>
            <i class="fa-solid fa-bag-shopping"></i>
            <p id="nombreInChart">0</p>
        </div>
        <p>login</p>
    </div>

    <div class="burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>