<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <h1>Your cart</h1>

    <!--=== Première ligne ===-->
    <div id="first-container" class="container1">

        <!-- Produits dans le panier -->
        <div class="item">
            <p><b>Not ready to checkout? Continue Shopping</b></p>

            <div id="first-subcontainer" class="sub-container">
                <!-- Produit 1 -->
                <div class="subitem-left">
                    <img src="images/placeholder.jpg">
                </div>
                <div class="subitem-right">
                    <h2>Product 1</h2>
                    <p>Size : L<br>
                        Quantity : 1<br>
                    <div class="subsub-container">
                        <div class="subsubitem1">99$</div>
                        <div class="subsubitem2">Remove</div>
                    </div>

                </div>

                <div class="subitem-separator">
                    <hr>
                </div>

                <!-- Produit 2 -->
                <div class="subitem-left">
                    <img src="images/placeholder.jpg">
                </div>
                <div class="subitem-right">
                    <h2>Product 1</h2>
                    <p>Size : L<br>
                        Quantity : 1</p>
                    <div class="subsub-container">
                        <div class="subsubitem1">99$</div>
                        <div class="subsubitem2">Remove</div>
                    </div>

                </div>

                <div class="subitem-separator">
                    <hr>
                </div>


            </div>

        </div>

        <!-- Total et Checkout -->

        <div class="item">
            <div class="order-summary">
                <h3>Order Summary</h3>
                <div class="coupon-code">
                    <input type="text" placeholder="Enter coupon code here">
                </div>
                <p>Subtotal: $200</p>
                <p>Shipping: Calculated at the next step</p>
                <hr class="bold">
                <p>Total: $200</p>

                <a class="invisible" href="about:blank" target="_blank">
                    <div class="button">
                        Continue to checkout
                    </div>
                </a>

            </div>
        </div>

    </div>

    <!--=== Deuxième ligne ===-->
    <div id="second-container" class="container2">

        <!-- Order Information -->
        <div class="item">
            <div class="order-information">
                <h3>Order Information</h3>
                <hr class="bold">
                <button type="button" class="collapsible">Return Policy</button>
                <div class="content">
                    <p>Lorem ipsum...</p>
                </div>
                <hr>
                <button type="button" class="collapsible">Shipping Options</button>
                <div class="content">
                    <p>Lorem ipsum...</p>
                </div>
                <hr>
                <button type="button" class="collapsible">Shipping Options</button>
                <div class="content">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est velit modi vero corporis aliquam
                        amet aliquid blanditiis accusantium. Possimus consequuntur excepturi harum quasi tenetur
                        accusamus beatae sed maxime? Ex, doloremque.</p>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <script src="collapsible.js"></script>
    <script src="remove.js"></script>

</body>

</html>