:root {
    --background: #EFF2F6;
}

body {
    background-color: var(--background);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

header h1 {
    font-size: 3vw;
    font-weight: bold;
}

header p {
    font-size: 19px;
    width: 30%;
    color: #979797;
}

header a {
    font-size: 19px;
    font-weight: bold;
    color: black;
    padding: 15px 45px;
    border: 1px solid black;
}

.slider-container {
    min-width: 350px;
    width: 55%;
    aspect-ratio: 16/9;
    margin: 50px auto;
    overflow: hidden;
    border: 1px solid #f1f1f1;

}

.slider-container .slider {
    display: flex;
    width: 100%;
    animation: slider 17.5s linear infinite;
}

.slider-container .slider img {
    flex-shrink: 0;
    width: 100%;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

.container-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.container-logo img {
    min-width: 75px;
    width: 10vw;
}




@media (max-width: 700px) {

    header h1 {
        font-size: 25px;
    }

    header p {
        width: 60%;
        font-size: 16px;
    }

}